@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 300ms;
}

:root {
  color-scheme: light dark;
  --accentColor: light-dark(#2c56c9, #587ee4);
  --mainColor: light-dark(#1d212b, #e2e4e9);
  --secondColor: light-dark(#788191, #788191);
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

.spliter {
  display: none;
  height: 5px;
  width: 100%;
  background-color: #ff0000;
}

body {
  max-width: 100vw;
  background-color: light-dark(#f5f5f7, #15171e);
}

.spacing {
  height: 65px;
}

.header {
  height: 65px;
  width: 100%;
  background-color: light-dark(rgba(247, 245, 243, 0.75), rgba(21, 23, 30, 0.85));
  backdrop-filter: blur(10px);
  border-bottom: 1px solid light-dark(#eeeded, #1f2129);
  margin: auto;
  padding: 0 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header a {
  text-decoration: none;
}
.header__cont {
  height: 100%;
  max-width: 1104px;
  display: flex;
  margin: 0 auto;
  transition: all 0.5s;
  justify-content: space-between;
  align-items: center;
}
.header__cont-logo {
  overflow: hidden;
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
}
.header__cont-nav {
  display: flex;
  gap: 1.5rem;
}
.header__cont-nav_a {
  color: light-dark(#788191, #788191);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 2px 4px;
}
.header__cont-nav_a:hover {
  color: light-dark(#1d212b, #e2e4e9);
}
.header__cont-nav_a-active {
  color: light-dark(#1d212b, #e2e4e9);
  position: relative;
  display: inline-block;
}
.header__cont-nav_a-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Толщина линии */
  bottom: 0; /* Позиция от низа текста */
  left: 0;
  background-color: light-dark(#2c56c9, #587ee4); /* Цвет линии */
}
.header__cont-nav_a-nonactive {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.header__cont-nav_a-nonactive:hover::after {
  animation: slide-in 0.65s cubic-bezier(0.8, 0, 0.2, 1) 0s both;
  transform: translatex(0);
}
@keyframes slide-in {
  from {
    transform: translatex(-101%);
  }
  to {
    transform: translatex(0);
  }
}
.header__cont-nav_a-nonactive::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Толщина линии */
  bottom: 0; /* Позиция от низа текста */
  left: 0;
  background-color: light-dark(#bcc0c5, #9aa0aa); /* Цвет линии */
  transform: translatex(-101%);
}
.header__cont-menu {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.header__cont-menu_btn {
  cursor: pointer;
  height: 36px;
  min-width: 36px;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.header__cont-menu_btn:first-child {
  background-color: light-dark(#eaecf0, #272a34);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__cont-menu_btn:first-child:hover {
  transform: scale(1.1);
}
.header__cont-menu_btn:first-child:active {
  transform: scale(0.95);
}
.header__cont-menu_btn:first-child img {
  width: 16px;
}
.header__cont-menu_btn:last-child {
  background-color: light-dark(#2c56c9, #587ee4);
  padding: 8px 16px;
  gap: 0.5rem;
}
.header__cont-menu_btn:last-child:hover {
  transform: scale(1.05);
}
.header__cont-menu_btn-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.header__cont-menu_btn-img {
  width: 16.64px;
}

.hero {
  height: 92dvh;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.hero__cont {
  height: -moz-min-content;
  height: min-content;
  width: 896px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hero__cont-news {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: light-dark(#e2e5ee, #1c2232);
  width: -moz-max-content;
  width: max-content;
  color: light-dark(#2c56c9, #587ee4);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 32px;
  padding: 8px 16px;
  border-radius: 50px;
  display: flex;
  gap: 8px;
}
@keyframes pulsar {
  0% {
    background-color: light-dark(#2c56c9, #587ee4);
  }
  45% {
    background-color: light-dark(#788191, #788191);
  }
  55% {
    background-color: light-dark(#788191, #788191);
  }
  100% {
    background-color: light-dark(#2c56c9, #587ee4);
  }
}
.hero__cont-news_pulsar {
  background-color: light-dark(#2c56c9, #587ee4);
  animation: pulsar 2s linear infinite;
  height: 6px;
  width: 6px;
  margin: auto 0;
  border-radius: 100%;
}
.hero__cont-title {
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 36px;
  line-height: 76px;
  margin: 0 0 24px;
}
.hero__cont-title span {
  background-image: linear-gradient(to right, light-dark(#2c56c9, #587ee4) 0%, #4c9afe 100%);
  /* обрезаем фон по тексту */
  -webkit-background-clip: text;
          background-clip: text;
  /* меняет цвет текста заголовка на прозрачный что бы можно было увидеть градиент*/
  -webkit-text-fill-color: transparent;
}
.hero__cont-subtitle {
  color: light-dark(#768093, light-dark(#788191, #788191));
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 40px;
}
.hero__cont-menu {
  margin: 0 0 64px;
  display: flex;
  gap: 20px;
}
.hero__cont-menu_btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 14px 28px;
  border: none;
  border-radius: 50px;
  display: flex;
}
.hero__cont-menu_btn-img {
  aspect-ratio: 1/1;
  width: 18px;
}
.hero__cont-menu_btn:first-child {
  background-color: light-dark(#2c56c9, #587ee4);
  color: white;
  gap: 10px;
}
.hero__cont-menu_btn:first-child:hover {
  transform: scale(1.05);
}
.hero__cont-menu_btn:last-child {
  background-color: light-dark(#eaecf0, #272a34);
  color: light-dark(#1d212b, #e2e4e9);
}
.hero__cont-menu_btn:last-child:hover {
  transform: scale(1.1);
}
.hero__cont-advantages {
  display: flex;
  gap: 32px;
}
.hero__cont-advantages_item {
  display: flex;
  flex-direction: column;
}
.hero__cont-advantages_item-info {
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.hero__cont-advantages_item-name {
  color: light-dark(#788191, #788191);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.title {
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.subtitle {
  color: light-dark(#2c56c9, #587ee4);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding-bottom: 12px;
}

.arrivals {
  max-width: 72rem;
  margin-inline: auto;
  padding: 80px 24px;
}
.arrivals-head {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.arrivals-head_btn {
  color: light-dark(#2c56c9, #587ee4);
  padding-block: 5px;
}
.arrivals-head_btn:hover {
  transform: translatex(5px);
}
.arrivals-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.categories {
  background-color: light-dark(#fff, #1b1d25);
  padding-block: 80px;
}
.categories__cont {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 24px;
}
.categories__cont-head {
  margin-bottom: 48px;
}
.categories__cont-box {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}
.categories__cont-box_card {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: light-dark(#fbfaf9, #1b1e27);
  height: 199px;
  width: 100%;
  padding: 24px;
  border: none;
  border-radius: 16px;
  box-shadow: 2px 4px 5px light-dark(#e9e9e9, rgba(29, 29, 29, 0.692));
}
.categories__cont-box_card:hover {
  transform: translatey(-2.5px);
}
.categories__cont-box_card-div {
  height: 100%;
  text-align: left;
}
.categories__cont-box_card-img {
  width: 36px;
  margin-inline: 2px;
  margin-bottom: 16px;
}
.categories__cont-box_card-text_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 4px;
}
.categories__cont-box_card-text_description {
  height: 39px;
  color: rgb(120, 129, 145);
  font-size: 12px;
  font-weight: 400;
  line-height: 19.5px;
  margin-bottom: 16px;
}
.categories__cont-box_card-btn {
  color: light-dark(#2c56c9, #587ee4);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.featured {
  max-width: 72rem;
  margin-inline: auto;
  padding: 80px 24px;
}
.featured-head {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.featured-head_btn {
  color: light-dark(#2c56c9, #587ee4);
  padding-block: 5px;
}
.featured-head_btn:hover {
  transform: translatex(5px);
}
.featured-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.brands {
  background-color: light-dark(#fff, #1b1d25);
  padding-block: 80px;
}
.brands__cont {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 24px;
}
.brands__cont-head {
  margin-bottom: 48px;
}
.brands__cont-box {
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  gap: 16px;
}
.brands__cont-box_card {
  background-color: light-dark(#fbfaf9, #1b1e27);
  width: 100%;
  text-align: left;
  padding: 20px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 2px 6px 0px light-dark(#e9e9e9, rgba(29, 29, 29, 0.692));
}
.brands__cont-box_card-title {
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 4px;
}
.brands__cont-box_card-subtitle {
  color: light-dark(light-dark(#788191, #788191), light-dark(#788191, #788191));
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.comments {
  background-color: light-dark(#f2f2f2, #181c27);
  padding-block: 80px;
}
.comments__cont {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 24px;
}
.comments__cont-head {
  margin-bottom: 48px;
}
.comments__cont-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 16px;
}
.comments__cont-box_card {
  background-color: light-dark(#fff, #1b1e27);
  width: 100%;
  text-align: left;
  padding: 20px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 2px 6px 0px light-dark(#e9e9e9, rgba(29, 29, 29, 0.692));
}
.comments__cont-box_card-stars {
  margin-bottom: 16px;
}
.comments__cont-box_card-text {
  height: 100px;
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}
.comments__cont-box_card-name {
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.comments__cont-box_card-job {
  color: light-dark(#788191, #788191);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.advantages {
  max-width: 72rem;
  margin-inline: auto;
  padding: 80px 24px;
}
.advantages__cont {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 24px;
}
.advantages__cont-head {
  margin-bottom: 48px;
}
.advantages__cont-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 16px;
}
.advantages__cont-box_card {
  background-color: light-dark(#f2f2f2, #1b1e27);
  width: 100%;
  text-align: left;
  padding: 24px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 2px 6px 0px light-dark(#e9e9e9, rgba(29, 29, 29, 0.692));
  display: flex;
  gap: 16px;
}
.advantages__cont-box_card-icon {
  background-color: light-dark(#e5eaf4, #21283a);
  aspect-ratio: 1/1;
  height: 44px;
  border-radius: 50%;
  display: flex;
}
.advantages__cont-box_card-icon_img {
  margin: auto;
}
.advantages__cont-box_card-text_title {
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}
.advantages__cont-box_card-text_description {
  color: light-dark(#788191, #788191);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.subscribe {
  max-width: 72rem;
  margin-inline: auto;
  padding: 80px 24px;
}
.subscribe__box {
  background-color: light-dark(#2c56c9, #587ee4);
  text-align: center;
  padding: 56px;
  border-radius: 1.5rem;
}
.subscribe__box-subtitle {
  color: light-dark(rgba(255, 255, 255, 0.7019607843), light-dark(#1d212b, #e2e4e9));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}
.subscribe__box-title {
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 16px;
}
.subscribe__box-description {
  color: light-dark(rgba(255, 255, 255, 0.7019607843), light-dark(#1d212b, #e2e4e9));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto 32px auto;
}
.subscribe__box-form {
  width: 448px;
  margin-inline: auto;
  display: flex;
  gap: 15px;
}
.subscribe__box-form_input {
  background-color: #7191e8;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: calc(infinity * 1px);
  outline: none;
}
.subscribe__box-form_input::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
  color: #b8c3f0;
}
.subscribe__box-form_input::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #b8c3f0;
}
.subscribe__box-form_input:focus {
  border: none;
}
.subscribe__box-form_btn {
  background-color: white;
  color: light-dark(#2c56c9, #587ee4);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 14px 20px;
  border: none;
  border-radius: calc(infinity * 1px);
}
.subscribe__box-form_btn:hover {
  transform: scale(1.05);
}

.footer {
  background-color: light-dark(#fbfaf9, #1b1e27);
}
.footer__cont {
  max-width: 72rem;
  margin-inline: auto;
  padding: 64px 24px 40px;
}
.footer__cont-main {
  display: grid;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
  gap: 2.5rem;
  outline: 0 0 1px 0 solid #21232c;
  outline-offset: -1px;
}
.footer__cont-main_box-logo {
  all: unset;
  height: 32px;
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}
.footer__cont-main_box-description {
  color: light-dark(#788191, #788191);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}
.footer__cont-main_box-links {
  margin-top: 20px;
  display: flex;
  gap: 0.75rem;
}
.footer__cont-main_box-links_btn {
  background-color: light-dark(#eaecf0, #272a34);
  aspect-ratio: 1/1;
  height: 32px;
  border: none;
  border-radius: calc(infinity * 1px);
}
.footer__cont-main_box-title {
  color: light-dark(#788191, #788191);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 16px;
}
.footer__cont-main_box-list {
  color: light-dark(#788191, #788191);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__cont-main_box-list_item a {
  color: light-dark(#788191, #788191);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer__cont-main_box-list_item a:hover {
  color: light-dark(#1d212b, #e2e4e9);
}
.footer__cont-end {
  color: light-dark(#788191, #788191);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.catalog {
  min-height: 90vh;
}
.catalog__cont {
  max-width: 72rem;
  margin-inline: auto;
  padding: 48px 24px;
}
.catalog__cont-head {
  margin-bottom: 40px;
}
.catalog__cont-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.cart__working {
  min-height: 65vh;
  max-width: 72rem;
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 25px;
  margin-inline: auto;
}
.cart__working-box {
  width: 100%;
}
.cart__working-panel {
  width: 100%;
  background-color: #21232c;
}
.cart__empty {
  min-height: 65vh;
  max-width: 72rem;
  display: flex;
  margin: auto;
  padding: 25px;
}
.cart__empty-main {
  background-color: #1b1e27;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  padding-block: 199px;
  border-radius: 25px;
}
.cart__empty-main_icon {
  background-color: #21283a;
  backdrop-filter: brightness(75%);
  width: 72px;
  aspect-ratio: 1/1;
  margin: auto;
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 50px;
  animation-name: iconJump;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}
.cart__empty-main_icon-img {
  width: 100%;
  height: 100%;
}
@keyframes iconJump {
  0% {
    transform: translatey() rotate();
  }
  40% {
    transform: translatey(-30px) rotate(-10deg);
  }
  60% {
    transform: translatey(-30px) rotate(10deg);
  }
  100% {
    transform: translate() rotate();
  }
}
.cart__empty-main_text {
  color: light-dark(#1d212b, #e2e4e9);
  font-size: 24px;
  text-align: center;
}
.cart__empty-main_btn {
  cursor: pointer;
  background-color: light-dark(#2c56c9, #587ee4);
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-inline: auto;
  padding: 10px 50px;
  border: none;
  border-radius: calc(infinity * 1px);
}
.cart__empty-main_btn:hover {
  transform: scale(1.1);
}
.carto {
  overflow: hidden;
  background-color: #21232c;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  gap: 15px;
  border-radius: 15px;
}
.carto__image {
  overflow: hidden;
  width: 150px;
  aspect-ratio: 1/1;
}
.carto__image-img {
  width: 100%;
}
.carto__info {
  width: 100%;
  padding: 5px;
}
.carto__btns-count {
  height: 100%;
  width: 75px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 2.5px;
}
.hidden {
  display: none;
}

.curtain {
  background: url("https://img.magnific.com/free-vector/theater-cinema-curtains-with-focus-light-vector-illustration_1017-38346.jpg") no-repeat center center/cover;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  translate: 100% 0 0;
}

@keyframes fadeout {
  0% {
    translate: 100% 0 0;
  }
  100% {
    translate: 0 0 0;
  }
}
.fadeout {
  animation: fadeout 1s linear;
}/*# sourceMappingURL=main.css.map */